@using Newtonsoft.Json
@{
    var categories = ViewBag.Categories;
}

@{
    var data = Context.Session.GetString("cart");

    int coutCart = 0;
    if (data == null)
    {
        coutCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<Cart> dataCart = JsonConvert.DeserializeObject<List<Cart>>(data2);
        foreach (var item in dataCart)
        {
            coutCart += item.Quantity;
        }

    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FPTBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Template Main CSS Files -->
    <link href="~/NewFolder/css/main.css" rel="stylesheet" asp-append-version="true">
    <link href="~/NewFolder/css/details.css" rel='stylesheet'>
    <link href="~/NewFolder/css/contact.css" rel='stylesheet'>
    <link href="~/NewFolder/css/variables.css" rel="stylesheet">
</head>
<body> 
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
                <h1>FPT Book</h1>
            </a>
            <nav id="navbar" class="navbar ">                                 
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#">
                            <span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            @foreach(var item in categories)
                            {
                                @* <li><a asp-action="Index" asp-route-id="@item.CategoryId">@item.CategoryName</a></li> *@
                                <li><form asp-controller="Home" asp-action="IndexSearch" >
                                        <option value="@item.CategoryId">
                                            @item.CategoryName
                                        </option>
                                        
                                        <input type="submit" value="Filter" />
                                    </form>
                                    </li>                          
                            }
                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-action="Contact">Contact</a></li>
                    <partial name="_LoginPartial" />
                    <li><a asp-action="ListCart"><i class="bi bi-cart-fill"></i>: @coutCart</a></li>
                </ul>                   
            </nav><!--navbar-->

            <div class="position-relative">              
                <form class="d-flex" asp-action="Index">
                    <input class="form-control me-2" type="text" placeholder="Search" name="searchString" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
                </form>              
            </div>

        </div>

    </header><!-- End Header -->
    
    <div class="container" style="padding-bottom: 200px" id="main-content">
        <main role="main" id="main" class="">
            @RenderBody()
        </main> 
    </div>

    <footer class="footer">
        <div class="footer-content">        
            <div class="footer-legal">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            <div class="credits">                           
                                Designed by our Team
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
